# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with Lit
6.out
7.out
8.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Project specific
flatten-go-doc
flatten-doc
documentation.md
custom_output.md
test_final.md

# IDEs
.idea/
.vscode/
*.swp
*.swo
